@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="card border-0 mx-3" style="width: 18rem;">
        <img src="~/images/maria.png" class="rounded-circle z-depth-2 card-img-top" alt="..." data-holder-rendered="true">
        <div class="card-body">
            <h5 class="card-title">Melissianou Maria</h5>
            <p class="card-text">Regenerator.</p>
        </div>
    </div>
    <div class="card border-0 mx-3" style="width: 18rem;">
        <img src="~/images/manolis.png" class="rounded-circle z-depth-2 card-img-top" alt="..." data-holder-rendered="true">
        <div class="card-body">
            <h5 class="card-title">Pantousis Emmanouil</h5>
            <p class="card-text">Regenerator.</p>
        </div>
    </div>
    <div class="card border-0 mx-3" style="width: 18rem;">
        <img src="~/images/charis.png" class="rounded-circle z-depth-2 card-img-top" alt="..." data-holder-rendered="true">
        <div class="card-body">
            <h5 class="card-title">Papakonstatninou Charis</h5>
            <p class="card-text">Regenerator.</p>
        </div>
    </div>
    <div class="card border-0 mx-3" style="width: 18rem;">
        <img src="~/images/kostas.png" class="rounded-circle z-depth-2 card-img-top" alt="..." data-holder-rendered="true">
        <div class="card-body">
            <h5 class="card-title">Rizos Konstantinos</h5>
            <p class="card-text">Regenerator.</p>
        </div>
    </div>
</div>